<div class="container-fluid footerContainer">
  <div class="row footerTop">
    <div class="col-md-4">
      <div class="sectionContainer text-center">
        <h2>LOCATION</h2>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="sectionContainer text-center">
        <h2>AROUND THE WEB</h2>
        <div class="d-flex justify-content-center p-2">
          <i class="fa-brands fa-facebook mx-1"></i>
          <i class="fa-brands fa-twitter mx-1"></i>
          <i class="fa-brands fa-linkedin-in mx-1"></i>
          <i class="fa-solid fa-globe mx-1"></i>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="sectionContainer text-center">
        <h2>ABOUT FREELANCER</h2>
        <p class="w-95">
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
  <div class="row footerBottom d-flex align-items-center text-center">
    <p>Copyright © Your Website 2021</p>
  </div>
</div>
