<div class="container-fluid portContainer">
  <div class="text-center"><h1>PORTOFOLIO COMPONENT</h1></div>
  <div class="linesContainer">
    <div class="line"></div>
    <div><i class="fa-solid fa-star fa-lg"></i></div>
    <div class="line"></div>
  </div>
  <div class="container m-3">
    <div class="row gy-5">
      <div class="col-md-4">
        <div class="cardContainer">
          <img src="./assets/Images/poert1.png" />
          <div
            class="imgObacity"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal1"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
          <div
            class="modal fade"
            id="exampleModal1"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body modalBodyContainer">
                  <img src="./assets/Images/poert1.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cardContainer">
          <img src="./assets/Images/poert2.png" />
          <div
            class="imgObacity"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal2"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
          <div
            class="modal fade"
            id="exampleModal2"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body modalBodyContainer">
                  <img src="./assets/Images/poert2.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cardContainer">
          <img src="./assets/Images/poert3.png" />
          <div
            class="imgObacity"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal3"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
          <div
            class="modal fade"
            id="exampleModal3"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body modalBodyContainer">
                  <img src="./assets/Images/poert3.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cardContainer">
          <img src="./assets/Images/poert1.png" />
          <div
            class="imgObacity"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal1"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
          <div
            class="modal fade"
            id="exampleModal1"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body modalBodyContainer">
                  <img src="./assets/Images/poert1.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cardContainer">
          <img src="./assets/Images/poert2.png" />
          <div
            class="imgObacity"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal2"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
          <div
            class="modal fade"
            id="exampleModal2"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body modalBodyContainer">
                  <img src="./assets/Images/poert2.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="cardContainer">
          <img src="./assets/Images/poert3.png" />
          <div
            class="imgObacity"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal3"
          >
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
          <div
            class="modal fade"
            id="exampleModal3"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body modalBodyContainer">
                  <img src="./assets/Images/poert3.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
